#ARTICLE_1 {
    bottom: 0px;
        margin-bottom: 20px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    height: 144px;
    left: 30%;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 692.266px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 346.125px 72px;
    transform-origin: 346.125px 72px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#ARTICLE_1*/

#ARTICLE_1:hover{
    overflow: visible;
}

#ARTICLE_1:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(82, 76, 97);
   
    cursor: pointer;
    display: table;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(82, 76, 97);
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#ARTICLE_1:after*/

#ARTICLE_1:before {
    box-sizing: border-box;
    color: rgb(82, 76, 97);
   
    cursor: pointer;
    display: table;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(82, 76, 97);
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#ARTICLE_1:before*/

#DIV_2 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    float: left;
    height: 117px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 458.734px;
    z-index: 1;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 229.359px 58.5px;
    transform-origin: 229.359px 58.5px;
    caret-color: rgb(82, 76, 97);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(82, 76, 97);
    border-radius: 6px 0 0 6px;
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
    padding: 18px;
}/*#DIV_2*/

#DIV_2:after {
    bottom: 0px;
    box-sizing: border-box;
    clear: both;
    color: rgb(82, 76, 97);
   
    cursor: pointer;
    display: block;
    height: 117px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 458.734px;
    z-index: -1;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 229.359px 58.5px;
    transform-origin: 229.359px 58.5px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    border-radius: 6px 0 0 6px;
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    
    cursor: pointer;
    display: table;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(82, 76, 97);
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(129, 123, 143);
    cursor: pointer;
    display: none;
    float: left;
    height: auto;
    text-align: left;
    text-decoration: none solid rgb(129, 123, 143);
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(129, 123, 143);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(129, 123, 143);
    border: 0px none rgb(129, 123, 143);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 12px;
    outline: rgb(129, 123, 143) none 0px;
}/*#DIV_3*/

#DIV_3:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(129, 123, 143);
   
    cursor: pointer;
    display: table;
    height: auto;
    text-align: left;
    text-decoration: none solid rgb(129, 123, 143);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(129, 123, 143);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(129, 123, 143);
    border: 0px none rgb(129, 123, 143);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(129, 123, 143) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    box-sizing: border-box;
    color: rgb(129, 123, 143);
   
    cursor: pointer;
    display: table;
    height: auto;
    text-align: left;
    text-decoration: none solid rgb(129, 123, 143);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(129, 123, 143);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(129, 123, 143);
    border: 0px none rgb(129, 123, 143);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(129, 123, 143) none 0px;
}/*#DIV_3:before*/

#DIV_4 {
    box-sizing: border-box;
    color: rgb(129, 123, 143);
    cursor: pointer;
    display: inline-block;
    height: auto;
    position: relative;
    text-align: left;
    text-decoration: none solid rgb(129, 123, 143);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: auto;
    column-rule-color: rgb(129, 123, 143);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(129, 123, 143);
    border: 0px none rgb(129, 123, 143);
    font: normal normal normal normal 13px / 15px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 1px;
    outline: rgb(129, 123, 143) none 0px;
}/*#DIV_4*/

#IMG_5 {
    box-sizing: border-box;
    color: rgb(129, 123, 143);
    cursor: pointer;
    display: inline-block;
   
    max-width: 100%;
    text-align: left;
    text-decoration: none solid rgb(129, 123, 143);
    text-size-adjust: 100%;
    vertical-align: middle;
   
    column-rule-color: rgb(129, 123, 143);
    caret-color: rgb(129, 123, 143);
    border: 0px none rgb(129, 123, 143);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 13px / 15px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 1px;
    outline: rgb(129, 123, 143) none 0px;
}/*#IMG_5*/

#SPAN_6 {
    box-sizing: border-box;
    color: rgb(129, 123, 143);
    cursor: pointer;
    display: inline-block;
    text-align: left;
    text-decoration: none solid rgb(129, 123, 143);
    text-size-adjust: 100%;
    vertical-align: middle;
    column-rule-color: rgb(129, 123, 143);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(129, 123, 143);
    border: 0px none rgb(129, 123, 143);
    font: normal normal normal normal 13px / 15px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 1px;
    outline: rgb(129, 123, 143) none 0px;
}/*#SPAN_6*/

#SECTION_7 {
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    float: left;
    height: 55px;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    width: 422.734px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 211.359px 27.5px;
    transform-origin: 211.359px 27.5px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    margin: 8px 0px 18px;
    outline: rgb(82, 76, 97) none 0px;
}/*#SECTION_7*/

#SECTION_7:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(82, 76, 97);
   
    cursor: pointer;
    display: table;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(82, 76, 97);
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#SECTION_7:after*/

#SECTION_7:before {
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    
    cursor: pointer;
    display: table;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(82, 76, 97);
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#SECTION_7:before*/

#DIV_8 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(154, 149, 167);
    cursor: pointer;
    float: left;
    height: 33px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(154, 149, 167);
    text-size-adjust: 100%;
    top: 0px;
    width: 93px;
    column-rule-color: rgb(154, 149, 167);
    perspective-origin: 46.5px 16.5px;
    transform-origin: 46.5px 16.5px;
    caret-color: rgb(154, 149, 167);
    border: 0px none rgb(154, 149, 167);
    font: normal normal normal normal 13px / 15px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    margin: 4px 0px 0px;
    outline: rgb(154, 149, 167) none 0px;
}/*#DIV_8*/

#IMG_9 {
    box-sizing: border-box;
    color: rgb(154, 149, 167);
    cursor: pointer;
    height: 30px;
    max-width: 60px;
    text-align: left;
    text-decoration: none solid rgb(154, 149, 167);
    text-size-adjust: 100%;
    width: 60px;
    column-rule-color: rgb(154, 149, 167);
    perspective-origin: 30px 15px;
    transform-origin: 30px 15px;
    caret-color: rgb(154, 149, 167);
    border: 0px none rgb(154, 149, 167);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 13px / 15px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(154, 149, 167) none 0px;
}/*#IMG_9*/

#DIV_10 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    height: 55px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 329.734px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 164.859px 27.5px;
    transform-origin: 164.859px 27.5px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 93px;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_10*/

#DIV_11 {
    box-sizing: border-box;
    color: rgb(154, 149, 167);
    cursor: pointer;
    float: left;
    height: 54px;
    text-align: right;
    text-decoration: none solid rgb(154, 149, 167);
    text-size-adjust: 100%;
    width: 105.5px;
    column-rule-color: rgb(154, 149, 167);
    perspective-origin: 52.75px 27px;
    transform-origin: 52.75px 27px;
    caret-color: rgb(154, 149, 167);
    border: 0px none rgb(154, 149, 167);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(154, 149, 167) none 0px;
    padding: 0px 6px;
}/*#DIV_11*/

#SPAN_12 {
    box-sizing: border-box;
    color: rgb(154, 149, 167);
    cursor: pointer;
    display: inline-block;
    height: 54px;
    text-align: right;
    text-decoration: none solid rgb(154, 149, 167);
    text-size-adjust: 100%;
    width: 60.4688px;
    column-rule-color: rgb(154, 149, 167);
    perspective-origin: 30.2344px 27px;
    transform-origin: 30.2344px 27px;
    caret-color: rgb(154, 149, 167);
    border: 0px none rgb(154, 149, 167);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(154, 149, 167) none 0px;
}/*#SPAN_12*/

#SPAN_13 {
        padding-left: 20px;
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    display: flex;
    height: 30px;
    left: 0px;
    max-width: 100%;
    position: relative;
    right: 0px;
    text-align: right;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 60.4688px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 30.2344px 15px;
    transform-origin: 30.2344px 15px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal bold normal 16px / 30px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#SPAN_13*/

#SPAN_14 {
    box-sizing: border-box;
    color: rgb(129, 123, 143);
    cursor: help;
    display: inline-block;
    height: 24px;
    text-align: right;
    text-decoration: none solid rgb(129, 123, 143);
    text-size-adjust: 100%;
    width: 34.6719px;
    column-rule-color: rgb(129, 123, 143);
    perspective-origin: 17.3281px 12px;
    transform-origin: 17.3281px 12px;
    caret-color: rgb(129, 123, 143);
    border: 0px none rgb(129, 123, 143);
    font: normal normal normal normal 16px / 24px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(129, 123, 143) none 0px;
}/*#SPAN_14*/

#DIV_15 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    float: left;
    height: 52px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 118.703px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 59.3438px 26px;
    transform-origin: 59.3438px 26px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 3px;
    outline: rgb(82, 76, 97) none 0px;
    padding: 0px 6px;
}/*#DIV_15*/

#SPAN_16 {
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    display: block;
    height: 18px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    width: 106.703px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 53.3438px 9px;
    transform-origin: 53.3438px 9px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 12px / 18px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#SPAN_16*/

#UL_17 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    height: 2px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 96.0313px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 48.0156px 1px;
    transform-origin: 48.0156px 1px;
    caret-color: rgb(82, 76, 97);
    background: rgb(129, 123, 143) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(82, 76, 97);
    border-radius: 6px 6px 6px 6px;
    font: normal normal normal normal 13px / 0px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: circle outside none;
    margin: 6px 5.34375px 8px 5.32813px;
    outline: rgb(82, 76, 97) none 0px;
    padding: 0px;
}/*#UL_17*/

#UL_17:after {
    background-position: 100% 50%;
    bottom: -7px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
   
    cursor: pointer;
    display: block;
    height: 16px;
    left: 86.0313px;
    position: absolute;
    right: -6px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 1px;
    width: 16px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    caret-color: rgb(82, 76, 97);
    animation: plane-anim 0.8s ease-out 0s 1 normal none running;
    background: rgb(255, 255, 255) url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 12' enable-background='new 0 0 12 12' xml:space='preserve'%3E %3Cpath fill='%23898294' d='M3.922,12h0.499c0.181,0,0.349-0.093,0.444-0.247L7.949,6.8l3.233-0.019C11.625,6.791,11.989,6.44,12,6 c-0.012-0.44-0.375-0.792-0.818-0.781L7.949,5.2L4.866,0.246C4.77,0.093,4.602,0,4.421,0L3.922,0c-0.367,0-0.62,0.367-0.489,0.71 L5.149,5.2l-2.853,0L1.632,3.87c-0.084-0.167-0.25-0.277-0.436-0.288L0,3.509L1.097,6L0,8.491l1.196-0.073 C1.382,8.407,1.548,8.297,1.632,8.13L2.296,6.8h2.853l-1.716,4.49C3.302,11.633,3.555,12,3.922,12'/%3E %3C/svg%3E") no-repeat scroll 100% 50% / 12px padding-box border-box;
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 0px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: circle outside none;
    margin: -8px 0px 0px;
    outline: rgb(82, 76, 97) none 0px;
}/*#UL_17:after*/

#LI_18 {
    bottom: -5px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
   
    cursor: pointer;
    height: 12px;
    left: 76.0313px;
    position: absolute;
    right: -1px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: -5px;
    width: 21px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 10.5px 6px;
    transform-origin: 10.5px 6px;
    caret-color: rgb(82, 76, 97);
    /*background: url("../image/airplane.png") ;*/
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 0px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#LI_18*/

ul li#LI_18:after{
      background-image: url("../image/airplane.png");
}
#DIV_19 {
    box-sizing: border-box;
    color: rgb(129, 123, 143);
    cursor: pointer;
    height: 18px;
    text-align: center;
    text-decoration: none solid rgb(129, 123, 143);
    text-size-adjust: 100%;
    width: 106.703px;
    column-rule-color: rgb(129, 123, 143);
    perspective-origin: 53.3438px 9px;
    transform-origin: 53.3438px 9px;
    caret-color: rgb(129, 123, 143);
    border: 0px none rgb(129, 123, 143);
    font: normal normal normal normal 12px / 18px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(129, 123, 143) none 0px;
}/*#DIV_19*/

#SPAN_20 {
    box-sizing: border-box;
    color: rgb(0, 189, 104);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(0, 189, 104);
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 189, 104);
    caret-color: rgb(0, 189, 104);
    border: 0px none rgb(0, 189, 104);
    font: normal normal normal normal 12px / 18px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 189, 104) none 0px;
}/*#SPAN_20*/

#SPAN_21 {
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(82, 76, 97);
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 12px / 18px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#SPAN_21*/

#DIV_22 {
    box-sizing: border-box;
    color: rgb(154, 149, 167);
    cursor: pointer;
    float: left;
    height: 54px;
    text-align: left;
    text-decoration: none solid rgb(154, 149, 167);
    text-size-adjust: 100%;
    width: 105.5px;
    column-rule-color: rgb(154, 149, 167);
    perspective-origin: 52.75px 27px;
    transform-origin: 52.75px 27px;
    caret-color: rgb(154, 149, 167);
    border: 0px none rgb(154, 149, 167);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(154, 149, 167) none 0px;
    padding: 0px 6px;
}/*#DIV_22*/

#SPAN_23 {
    box-sizing: border-box;
    color: rgb(154, 149, 167);
    cursor: pointer;
    display: block;
    float: left;
    height: 54px;
    text-align: left;
    text-decoration: none solid rgb(154, 149, 167);
    text-size-adjust: 100%;
    width: 60.4688px;
    column-rule-color: rgb(154, 149, 167);
    perspective-origin: 30.2344px 27px;
    transform-origin: 30.2344px 27px;
    caret-color: rgb(154, 149, 167);
    border: 0px none rgb(154, 149, 167);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(154, 149, 167) none 0px;
}/*#SPAN_23*/

#SPAN_24 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    display: flex;
    height: 30px;
    left: 0px;
    max-width: 100%;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 60.4688px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 30.2344px 15px;
    transform-origin: 30.2344px 15px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal bold normal 16px / 30px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#SPAN_24*/

#SPAN_25 {
    box-sizing: border-box;
    color: rgb(129, 123, 143);
    cursor: help;
    display: inline-block;
    height: 24px;
    text-align: left;
    text-decoration: none solid rgb(129, 123, 143);
    text-size-adjust: 100%;
    width: 24.9063px;
    column-rule-color: rgb(129, 123, 143);
    perspective-origin: 12.4531px 12px;
    transform-origin: 12.4531px 12px;
    caret-color: rgb(129, 123, 143);
    border: 0px none rgb(129, 123, 143);
    font: normal normal normal normal 16px / 24px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(129, 123, 143) none 0px;
}/*#SPAN_25*/

#DIV_26 {
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    height: 55px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    width: 329.734px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 164.859px 27.5px;
    transform-origin: 164.859px 27.5px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_26*/

#DIV_26:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(82, 76, 97);
   
    cursor: pointer;
    display: table;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(82, 76, 97);
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_26:after*/

#DIV_26:before {
    box-sizing: border-box;
    color: rgb(82, 76, 97);

    cursor: pointer;
    display: table;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(82, 76, 97);
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_26:before*/

#ASIDE_27 {
    background-position: 50% 0px;
    bottom: 0px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    height: 120px;
    left: 458.734px;
    position: absolute;
    right: 221.531px;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 12px;
    z-index: 2;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 6px 60px;
    transform-origin: 6px 60px;
    caret-color: rgb(82, 76, 97);
    background: rgb(255, 255, 255) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 8' enable-background='new 0 0 4 8'%3E%3Cpath fill='%23DFDCE3' d='M1 1v3c0 .552.448 1 1 1s1-.448 1-1v-3c0-.552-.448-1-1-1s-1 .448-1 1z'/%3E%3C/svg%3E") repeat-y scroll 50% 0px / 4px 10px padding-box border-box;
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    margin: 12px 0px;
    outline: rgb(82, 76, 97) none 0px;
}/*#ASIDE_27*/



#ASIDE_27:after {
    bottom: -12px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
   
    cursor: pointer;
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 120px;
    width: 20px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 10px 6px;
    transform-origin: 10px 6px;
    caret-color: rgb(82, 76, 97);
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' enable-background='new 0 0 18 18'%3E%3Cpath fill='%23fff' d='M9 9c4.971 0 9 4.029 9 9v-18h-18v18c0-4.971 4.029-9 9-9z'/%3E%3C/svg%3E") no-repeat scroll 0% 0% / 12px padding-box border-box;
    border-top: 0px none rgb(82, 76, 97);
    border-right: 4px solid rgb(255, 255, 255);
    border-bottom: 0px none rgb(82, 76, 97);
    border-left: 4px solid rgb(255, 255, 255);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#ASIDE_27:after*/

#ASIDE_27:before {
    bottom: 120px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    
    cursor: pointer;
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    right: -4px;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: -12px;
    width: 20px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 10px 6px;
    transform-origin: 10px 6px;
    caret-color: rgb(82, 76, 97);
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' enable-background='new 0 0 18 18'%3E%3Cpath fill='%23fff' d='M9 9c-4.971 0-9-4.029-9-9v18h18v-18c0 4.971-4.029 9-9 9z'/%3E%3C/svg%3E") no-repeat scroll 0% 0% / 12px padding-box border-box;
    border-top: 0px none rgb(82, 76, 97);
    border-right: 4px solid rgb(255, 255, 255);
    border-bottom: 0px none rgb(82, 76, 97);
    border-left: 4px solid rgb(255, 255, 255);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#ASIDE_27:before*/

#DIV_28 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    height: 144px;
    left: 0px;
    min-height: 144px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 692.266px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 346.125px 72px;
    transform-origin: 346.125px 72px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_28*/

#DIV_28:after {
    bottom: 0px;
    box-shadow: rgba(37, 32, 31, 0.3) 0px 1px 3px 0px;
    box-sizing: border-box;
    clear: both;
    color: rgb(82, 76, 97);
    content: '';
    cursor: pointer;
    display: block;
    height: 144px;
    left: 0px;
    position: absolute;
    right: 232.531px;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 459.734px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 229.859px 72px;
    transform-origin: 229.859px 72px;
    caret-color: rgb(82, 76, 97);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(82, 76, 97);
    border-radius: 6px 0 0 6px;
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_28:after*/

#DIV_28:before {
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    /*content: '"' '"';*/
    cursor: pointer;
    display: table;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    width: 458px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 229px 0px;
    transform-origin: 229px 0px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_28:before*/

#DIV_28_2 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    height: 144px;
    left: 0px;
    min-height: 144px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 692.266px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 346.125px 72px;
    transform-origin: 346.125px 72px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_28*/

#DIV_28_2:after {
    bottom: 0px;
    box-shadow: rgba(37, 32, 31, 0.3) 0px 1px 3px 0px;
    box-sizing: border-box;
    clear: both;
    color: rgb(82, 76, 97);
    content: '';
    cursor: pointer;
    display: block;
    height: 210px;
    left: 0px;
    position: absolute;
    right: 232.531px;
    text-align: left;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 459.734px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 229.859px 72px;
    transform-origin: 229.859px 72px;
    caret-color: rgb(82, 76, 97);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(82, 76, 97);
    border-radius: 6px 0 0 6px;
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_28:after*/

#DIV_29 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    height: 144px;
    left: 470.75px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 221.516px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 110.75px 72px;
    transform-origin: 110.75px 72px;
    caret-color: rgb(82, 76, 97);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(82, 76, 97);
    border-radius: 0 6px 6px 0;
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_29*/

#DIV_29:after {
    bottom: 0px;
    box-shadow: rgba(37, 32, 31, 0.3) 0px 1px 3px 0px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    content: '';
    cursor: pointer;
    display: block;
    height: 144px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 221.516px;
    z-index: -1;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 110.75px 72px;
    transform-origin: 110.75px 72px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    border-radius: 0 6px 6px 0;
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_29:after*/

#DIV_29_2 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    height: 144px;
    left: 470.75px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 221.516px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 110.75px 72px;
    transform-origin: 110.75px 72px;
    caret-color: rgb(82, 76, 97);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(82, 76, 97);
    border-radius: 0 6px 6px 0;
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_29*/

#DIV_29_2:after {
bottom: 0px;
    box-shadow: rgba(37, 32, 31, 0.3) 0px 1px 3px 0px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    content: '';
    cursor: pointer;
    display: block;
    height: 210px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 221.516px;
    z-index: -1;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 110.75px 72px;
    transform-origin: 110.75px 72px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    border-radius: 0 6px 6px 0;
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_29:after*/


#DIV_30 {
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    display: table;
    height: 144px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    width: 221px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 110.5px 72px;
    transform-origin: 110.5px 72px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_30*/

#DIV_30_2 {
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    padding-top: 15px;
    cursor: pointer;
    display: table;
    height: 144px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    width: 221px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 110.5px 72px;
    transform-origin: 110.5px 72px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_30*/

#DIV_31 {
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    display: table-cell;
    height: 144px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 221px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 110.5px 72px;
    transform-origin: 110.5px 72px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_31*/

#DIV_32 {
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    height: 74px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 221px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 110.5px 37px;
    transform-origin: 110.5px 37px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_32*/

#SPAN_33 {
    box-sizing: border-box;
    color: rgb(154, 149, 167);
    cursor: pointer;
    display: block;
    height: 18px;
    text-align: center;
    text-decoration: none solid rgb(154, 149, 167);
    text-size-adjust: 100%;
    width: 221px;
    column-rule-color: rgb(154, 149, 167);
    perspective-origin: 110.5px 9px;
    transform-origin: 110.5px 9px;
    caret-color: rgb(154, 149, 167);
    border: 0px none rgb(154, 149, 167);
    font: normal normal normal normal 12px / 18px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(154, 149, 167) none 0px;
}/*#SPAN_33*/

#DIV_34 {
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    height: 56px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    width: 221px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 110.5px 28px;
    transform-origin: 110.5px 28px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#DIV_34*/

#A_35 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    display: inline-block;
    height: 30px;
    left: 2px;
    pointer-events: none;
    position: relative;
    right: -2px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 105.75px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 52.875px 15px;
    transform-origin: 52.875px 15px;
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal bold normal 24px / 30px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    margin: 2px 0px;
    outline: rgb(82, 76, 97) none 0px;
    transition: color 0.1s ease 0s;
}/*#A_35*/

#SPAN_36 {
    box-sizing: border-box;
    color: rgb(154, 149, 167);
    pointer-events: none;
    text-align: center;
    text-decoration: none solid rgb(154, 149, 167);
    text-size-adjust: 100%;
    column-rule-color: rgb(154, 149, 167);
    caret-color: rgb(154, 149, 167);
    border: 0px none rgb(154, 149, 167);
    font: normal normal bold normal 24px / 30px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(154, 149, 167) none 0px;
}/*#SPAN_36*/

#BR_37 {
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(82, 76, 97);
    caret-color: rgb(82, 76, 97);
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 16.003px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(82, 76, 97) none 0px;
}/*#BR_37*/

#A_38 {
    bottom: 2px;
    box-sizing: border-box;
    color: rgb(134, 134, 134);
    display: inline-block;
    height: 18px;
    left: 2px;
    pointer-events: none;
    position: relative;
    right: -2px;
    text-align: center;
    text-decoration: none solid rgb(134, 134, 134);
    text-size-adjust: 100%;
    top: -2px;
    width: 80px;
    column-rule-color: rgb(134, 134, 134);
    perspective-origin: 40px 9px;
    transform-origin: 40px 9px;
    caret-color: rgb(134, 134, 134);
    border: 0px none rgb(134, 134, 134);
    font: normal normal normal normal 12px / 18px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    margin: 2px 0px;
    outline: rgb(134, 134, 134) none 0px;
    transition: color 0.1s ease 0s;
}/*#A_38*/

#A_39 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 36px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: middle;
    width: 105.594px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 52.7969px 18px;
    transform-origin: 52.7969px 18px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    background: #fed136 linear-gradient(-180deg, #fed136, #fed136) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 18px 18px 18px 18px;
    font: normal normal bold normal 16px / 24px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 12px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 6px 18px;
}/*#A_39*/

#SPAN_40 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 16px / 24px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_40*/

#SPAN_41 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    
    cursor: pointer;
    display: inline-block;
    height: 18px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    vertical-align: text-bottom;
    width: 18px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 9px 9px;
    transform-origin: 9px 9px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij48c3R5bGUgdHlwZT0idGV4dC9jc3MiPmNpcmNsZSwgZWxsaXBzZSwgbGluZSwgcGF0aCwgcG9seWdvbiwgcG9seWxpbmUsIHJlY3QsIHRleHQgeyBmaWxsOiAjZmZmZmZmICFpbXBvcnRhbnQgfTwvc3R5bGU+PHBhdGggZD0iTTExLjYgMTQuNWwzLjgtNGMuOC0uOS44LTIuMiAwLTMuMWwtMy44LTRjLS42LS41LTEuNS0uNi0yLjEgMHMtLjcgMS41LS4xIDIuMWwxLjkgMkgzLjVDMi43IDcuNSAyIDguMiAyIDlzLjcgMS41IDEuNSAxLjVoNy44bC0xLjkgMmMtLjMuMy0uNC43LS40IDEgMCAuNC4yLjguNSAxLjEuNi42IDEuNS41IDIuMS0uMXoiLz48L3N2Zz4=") no-repeat scroll 0% 0% / cover padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 16px / 24px -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_41*/

.leg-operator{
        width: 100%;
    padding: 0;
    margin: .375rem 0;
    color: #b2aebd;
    font-size: .75rem;
    line-height: .75rem;
    text-align: left;
    margin-bottom: 0;
}

.stop-dot{
        background-image: none;
    background-color: #ff5452;
    border-radius: 1.125rem;
    box-shadow: 0 0 0 2px #fff;
    width: 6px;
    height: 6px;
    line-height: 0;
    top: -2px;
    position: relative;
    display: inline-block;
    margin: 0 4%;
    zoom: 1;
}

#UL_17:after, #UL_37:after {
    background-position: 100% 50%;
    bottom: -7px;
    box-sizing: border-box;
    color: rgb(82, 76, 97);
    content: '';
    cursor: pointer;
    display: block;
    height: 16px;
    left: 91.5156px;
    position: absolute;
    right: -6px;
    text-align: center;
    text-decoration: none solid rgb(82, 76, 97);
    text-size-adjust: 100%;
    top: 1px;
    width: 16px;
    column-rule-color: rgb(82, 76, 97);
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    caret-color: rgb(82, 76, 97);
    animation: plane-anim 0.8s ease-out 0s 1 normal none running;
    background: rgb(255, 255, 255) url(data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E …2.296,6.8h2.853l-1.716,4.49C3.302,11.633,3.555,12,3.922,12'/%3E %3C/svg%3E) no-repeat scroll 100% 50% / 12px padding-box border-box;
    border: 0px none rgb(82, 76, 97);
    font: normal normal normal normal 13px / 0px -apple-system, system-ui, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    list-style: circle outside none;
    margin: -8px 0px 0px;
    outline: rgb(82, 76, 97) none 0px;
}


.disable-button{
    cursor: default;
    pointer-events: none;
     color: gainsboro !important;
}
